extends layout

block content
  .header-center
    h1 Welcome to ArtiSpire
    p This is the homepage of the Art Inspiration Board.
    a(href='/add', class='btn') Add NEW INSPIRATION!

  ul.grid
    each art in artEntries
        li.card
            if art.image
                img(src=art.image, alt=art.title)
            h2= art.title
            p= art.description
            .buttons
                a(href=`/edit/${art.id}`, class='btn edit') Edit
                a(href=`/delete/${art.id}`, class='btn delete', onclick='return confirmDelete()') Delete


        
